---
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";
import menu1 from "../../assets/menu/english/1.svg";
import menu2 from "../../assets/menu/english/2.svg";
import menu3 from "../../assets/menu/english/3.svg";
import menu4 from "../../assets/menu/english/4.svg";
import menu5 from "../../assets/menu/english/5.svg";
import menu6 from "../../assets/menu/english/6.svg";
import menu7 from "../../assets/menu/english/7.svg";
import menu8 from "../../assets/menu/english/8.svg";
---

<Layout>
  <div class="p-12 flex flex-col justify-center items-center text-white">
    <h1 class="mb-12 text-2xl">Menu</h1>
    <div class="w-full flex gap-4 justify-end px-12 mb-6">
      <a href="/menu/german">German <span class="text-sm">&#8599;</span></a>
    </div>
    <Image class="mb-12" src={menu1} alt="Goki Menu page 1" />
    <Image class="mb-12" src={menu2} alt="Goki Menu page 2" />
    <Image class="mb-12" src={menu3} alt="Goki Menu page 3" />
    <Image class="mb-12" src={menu4} alt="Goki Menu page 4" />
    <Image class="mb-12" src={menu5} alt="Goki Menu page 5" />
    <Image class="mb-12" src={menu6} alt="Goki Menu page 6" />
    <Image class="mb-12" src={menu7} alt="Goki Menu page 7" />
    <Image class="mb-12" src={menu8} alt="Goki Menu page 8" />
  </div>
</Layout>
